.products-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

.card-products {
  display: grid;
  justify-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 60px;
  padding: 12px;
  background-color: aliceblue;
}

img {
  width: 50%;
  height: 100%;
}

.btn-card {
  height: 30px;
}
.btn-remove {
  width: 15px;
}
.btn-generate-order {
  width: 125px;
  margin-bottom: 12px;
}
p {
  display: flex;
  flex-direction: column;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 25px;
  text-align: center;
}
thead {
  text-align: left;
}
.total-order {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.order-summary {
  background-color: aliceblue;
  transform: translate(1px, -380px);
  display: flex;
  flex-direction: column;
}
