<form (ngSubmit)="onSubmit()" [formGroup]="loginOn">
    <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" required autocomplete="email">
        <mat-error *ngIf="loginOn.controls['email'].hasError('required') && loginOn.controls['email'].touched">
            Email es requerido
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña:</mat-label>
        <input matInput type="password" formControlName="password" required autocomplete="current-password">
        <mat-error *ngIf="loginOn.controls['password'].hasError('required') && loginOn.controls['password'].touched">
            Contraseña es requerida
        </mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="loginOn.invalid">Iniciar Sesión</button>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
        <button mat-button (click)="openErrorDialog('error')">Ver Detalles</button>
    </div>
</form>