<section class="container-principal">
    <div class="container-img">
        <img class="logo" src="../../assets/logo.svg" alt="">
        <img class="titulo-logo" src="../../assets/The Burger Queen.svg" alt="">
    </div>

    <div class="container-form">
        <form class="app-login" (ngSubmit)="onSubmit()" [formGroup]="loginOn">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" required> <!-- Usa formControlName -->

            <label for="password">Contraseña:</label>
            <input type="password" id="password" formControlName="password" required> <!-- Usa formControlName -->

            <button type="submit">Iniciar Sesión</button>
        </form>

    </div>


</section>