/*Aplica un estilo global al componente */
:host {
  display: block;
  margin: 20px;
}
body {
  min-height: 100vh;
}
.container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 27px;
  margin-top: 120px;
}

.logo {
  width: 35%;
  border-radius: 107px;
}
.titulo-logo {
  width: 55%;
}
.container-principal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 19px;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  max-height: 100vh;
  overflow: hidden;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 1.3rem;
  background-color: #cd36a7;
  border-radius: 15px;
  margin-top: 90px;
  width: 375px;
  height: 363px;
  flex-shrink: 0;
  box-shadow: 0px -14px 79px 15px #83d1f8, -1px 20px 61px -15px #83d1f8;
}

label {
  text-align: left;
  width: 73%;
}

/* Estilo para los campos de entrada */
mat-input {
  /* width: 135%; */
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 35px;
  width: 360px;
  height: 49px;
  flex-shrink: 0;
}

/* Estilo para los mensajes de error */
mat-form-field {
  padding: 0px 5px 0px 5px;
  color: rgb(13, 13, 13);
  font-size: 12px;
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  width: 230px;
  margin-top: 25px;
}

/* Estilo para el botón de envío */
button {
  background-color: #f9f7f8;
  color: rgb(21, 21, 21);
  border: none;
  cursor: pointer;
  border-radius: 12px;
  width: 155px;
  height: 35px;
  flex-shrink: 0;
  margin-top: 35px;
  font-size: 1.1rem;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.mat-error {
  color: rgb(251, 252, 252);
}
