<!-- Botones para cada tipo de producto -->

<h3>TOMAR ORDEN</h3>

<nav>
    <button mat-raised-button color="basic" (click)="showProducts('Beverages')">Beverages</button>
    <button mat-raised-button color="basic" (click)="showProducts('Breakfast')">Breakfast</button>
    <button mat-raised-button color="basic" (click)="showProducts('Lunch')">Lunch</button>
    <button mat-raised-button color="basic" (click)="showProducts('Combos')">Combos</button>
    <button mat-raised-button color="basic" (click)="showProducts('Sides')">Sides</button>
</nav>


<!-- Contenedor para mostrar los productos -->
<div class="products-container" *ngIf="selectedType">
    <div class="card-products" *ngFor="let product of products | filterByType:selectedType">
        <img [src]="product.image" alt="{{ product.name }}">
        <p>{{ product.name }} - ${{ product.price }}</p>
        <button class="btn-card" mat-raised-button color="accent" (click)="addToOrder(product)">Add to Order</button>
    </div>
</div>


<!-- Resumen de la orden -->
<div class="order-summary">
    <h3>Detalle de la orden</h3>

    <table>
        <thead>
            <!-- <tr class="tr-titulos"> -->
            <th>Item</th>
            <th>Price</th>
            <th>Action</th>
            <!-- </tr> -->
        </thead>
        <tbody>
            <tr *ngFor="let item of orderItems">
                <td>{{ item.name }} ({{ item.qty }})</td>
                <td>${{ item.price }}</td>
                <td>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon class="delete-icon" (click)="removeFromOrder(item.id)">delete</mat-icon>
                    </button>


                </td>
            </tr>
        </tbody>
    </table>
    <p class="total-order">Total: ${{ total }}</p>
    <button class="btn-generate-order" mat-raised-button color="accent" (click)="calculateTotal()">Generar
        orden</button>




</div>

<!-- <div class="order-summary">
    <h3>Order Summary</h3>
    <mat-list role="list">
        <mat-list-item *ngFor="let item of orderItems">
            {{ item.name }} - ${{ item.price / 100 }}
            <button class="btn-remove" mat-raised-button color="accent"
                (click)="removeFromOrder(item.id)">Remove</button>
        </mat-list-item>
    </mat-list>
    <button class="btn-total" mat-raised-button color="accent">total</button>
    <p>
        Options selected: {{total}}
    </p>
</div> -->