/* :root {
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-background: #ecf0f1;
  --color-text: #333;
} */

body {
  background-image: url("./assets/fondo.app3.svg");
  background-size: cover; /* O ajusta según tus preferencias */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0; /* Asegura que no haya márgenes predeterminados */
  padding: 0; /* Asegura que no haya relleno predeterminado */
  font-family: "Arial", sans-serif; /* O la fuente que prefieras */
  height: 100vh;
}

/* body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar {
  width: 0.5em;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
