/* :root {
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-background: #ecf0f1;
  --color-text: #333;
} */

.container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 27px;
  margin-top: 120px;
}

.logo {
  width: 35%;
  border-radius: 107px;
}
.titulo-logo {
  width: 55%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
