:root {
  --color-primary: #cd36a7;
  --color-secondary: #19acea;
  --color-background: #ecf0f1;
  --color-text: #333;
}
body {
  background-image: url("./assets/fondo.app3.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
